page-register {
  .label{
    text-align: center;
  }
  .list{
    margin-top: 4em;
  }
  .button{
    text-align: center;
    width: 100%;
    height: 10em;
  }
  .register{
    margin-top: 2em;
    width: 13em;
    height: 3em;
  }
  .login{
    margin-top: 1em;
    margin-left: 9em;
    display: block;
  }
  .navbar{
    text-align: center;
    background-color: #2ec95c;
  }
  .nav{
    text-align: center;
  }
}
