<!--<ion-header>
  <ion-navbar>
    <ion-title>{{chat_with.username}}</ion-title>
  </ion-navbar>
  &lt;!&ndash;<ion-icon name="arrow-left"></ion-icon>&ndash;&gt;
</ion-header>-->
<ion-header style="font-size:1.7em;color:#333;" text-center>
  <!--<ion-icon name="ios-arrow-back" float-left margin-left style="padding-top:8px; padding-bottom:8px;cursor:pointer" (click)='goBack()'></ion-icon>
  <span style="font-size:0.7em;vertical-align:middle;">{{shop_info.shop_name}}</span>-->
  <ion-navbar hideBackButton="true">
    <ion-icon name="ios-arrow-back" float-left  style="cursor:pointer;padding-left:16px;padding-right:32px;margin-left:0;" (click)='goBack()'></ion-icon>
    <ion-title>{{chat_with.username}}</ion-title>
  </ion-navbar>
  <!-- <ion-icon name="ios-share-outline" float-right margin-right style="padding-top:8px; padding-bottom:8px;cursor:pointer"></ion-icon> -->
</ion-header>


<ion-content #screen style="background-color: #F5F5F5">
  <div *ngIf="!is_group_chat">
    <ion-item no-lines style="background-color: #F5F5F5"  *ngFor="let message of chatProvider.getChatByReceiver(user, chat_with).contents">
      <img *ngIf="message.sender != user.username" class="imgL" src="{{url + chat_with.avatar}}">
      <div *ngIf="message.sender != user.username" class="speech-bubbleL words item-text-wrap">
        <div class="arrowL bottomL"></div>
        {{message.content}}
      </div>

      <div *ngIf="message.sender == user.username" class="speech-bubbleR words">
        <div class="arrowR bottomR"></div>
        {{message.content}}
      </div>
      <img *ngIf="message.sender == user.username" class="imgR" src="{{url + user.avatar}}">
    </ion-item>
  </div>

  <div *ngIf="is_group_chat">
    <ion-item no-lines style="background-color: #F5F5F5"  *ngFor="let message of chatProvider.getChatByGroup(user, group_chat).contents">
      <img *ngIf="message.sender != user.username" class="imgL" src="{{url + message.sender_avatar}}">
      <div *ngIf="message.sender != user.username" class="speech-bubbleL words item-text-wrap">
        <div class="arrowL bottomL"></div>
        {{message.content}}
      </div>

      <div *ngIf="message.sender == user.username" class="speech-bubbleR words">
        <div class="arrowR bottomR"></div>
        {{message.content}}
      </div>
      <img *ngIf="message.sender == user.username" class="imgR" src="{{url + user.avatar}}">
    </ion-item>
  </div>



</ion-content>
<ion-footer class="chatPageFooter">
  <ion-toolbar  color="white">
    <ion-item color="white">
      <!--<ion-textarea type="text" [(ngModel)]="content"></ion-textarea>-->
      <ion-input type="text" autocomplete="off" [(ngModel)]="content"></ion-input>
      <button style="width: 4em; height: 3em" ion-button item-right (click)="sendMessage()" color="secondary">发送</button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
